<div class="container">
  <div class="row">
    <div class="col-md-2">

    </div>
    
    <div class="col-md-8">
      <ul class="nav nav-tabs text-light shadow-lg p-3 mb-5 bg-body rounded">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="hakkimizda">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="iletisim">İletişim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="yayinilkeleri">Yayın İlkeleri</a>
        </li>
      </ul>
    </div>

    <div class="col-md-2">

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2">

    </div>

    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <strong>Haberler; </strong> Güncel, Politika, Spor, Magazin, Kültür ve Sanat, Dış Haberler ve diğer tüm kategorilerde güncel haber sunmak ve internet kullanıcısının habere ulaşmasını kolaylaştırmak için oluşturulmuş geniş kapsamlı bir haber portalıdır.<br><br>
<strong>Ne Yapıyoruz? <br></strong>
Türkiye'de ve dünyada meydana gelen olaylar ve gelişmeleri ajanslar ve kendi ekibimiz aracılığıyla takip ederek size sunuyoruz. Sitemizde, kendi mahallenizden dünyanın en uzak köşesine kadar her yer ile ilgili haber okuyabilirsiniz. Ziyaretçilere, son 10 günün tüm haberleri içinde konuya göre arama yapma olanağı sunmaktayız. Bu arama, kelime ve ilgili bazlı, yapay zeka ile desteklenmiş gerçek bir haber arama sayfasıdır.
<br><br><strong>Yasalara %100 Uygun<br></strong>
Sitemiz Türkiye Cumhuriyeti Yasalarına %100 uygun olarak yayın yapmaktadır. Sitemizde yayınlanan her türlü haber, resim, bilgi, metin; telif hakkı sahiplerinden yazılı izin alınmak suretiyle yayınlanmaktadır. Sabah saatlerinde yayınladığımız gazete haber özetlerinde ise, yalnızca haberin başlığı ve giriş cümlesine yer verilmekte, haberin tam metnini okumak isteyen ziyaretçilerimiz ilgili gazetenin web sayfasına yönlendirilmektedir.

        </div>
      </div>
    </div>

    <div class="col-md-2">
      
    </div>
  </div>
</div>