<div class="container">
  <div class="row">
    <div class="col-md-2">

    </div>
    
    <div class="col-md-8">
      <ul class="nav nav-tabs text-light shadow-lg p-3 mb-5 bg-body rounded">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="hakkimizda">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="iletisim">İletişim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="yayinilkeleri">Yayın İlkeleri</a>
        </li>
      </ul>
    </div>

    <div class="col-md-2">

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2">

    </div>

    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <strong>Bize Ulaşın</strong><br>

Lütfen bülten gönderimlerini ibrahimutkuuslucan@gmail.com mail adresi üzerinden yapınız. <br><br>
<strong>Yasal Bildirimler İçin</strong><br>
<strong>Muhatap: </strong><br>
İbrahim Utku USLUCAN<br>
ibrahimutkuuslucan@gmail.com<br>
<br>
<strong>Adres</strong><br>
Kepez/Antalya<br>
<strong>Telefon Numaramız</strong><br>
+90 000 000 00 00<br>
<strong>Faks Numaramız</strong><br>
+90 111 111 11 11<br>
<strong>Email Adresimiz</strong><br>
ibrahimutkuuslucan@gmail.com


        </div>
      </div>
    </div>

    <div class="col-md-2">
      
    </div>
  </div>
</div>