<nav class="navbar navbar-expand-lg navbar-dark bg-danger shadow-lg p-3 mb-5 rounded">
    <div class="container-fluid">
      <a class="navbar-brand bg-warning" href="#"></a>
      <a href=""><img src="assets/logo.jpg" alt="" width="128" height="50" class="d-inline-block align-text-top"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active fw-bold" aria-current="page" href="">ANASAYFA</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle fw-bold" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              KATEGORİLER
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="magazin">Magazin </a></li>
              <li><a class="dropdown-item" href="spor">Spor </a></li>
              <li><a class="dropdown-item" href="muzik">Müzik</a></li>
              <li><a class="dropdown-item" href="ekonomi">Ekonomi</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active fw-bold" aria-current="page" href="hakkimizda">HAKKIMIZDA</a>
          </li>
        </ul>
        <div class="btn-group" role="group" aria-label="Basic example">
        <a class="fw-bold btn btn-dark" *ngIf="FbServis.OturumKontrol2()" href="login" type="button">Giriş Yap</a>
        <a class="fw-bold btn btn-dark me-3" *ngIf="FbServis.OturumKontrol2()" href="register" type="button">Kayıt Ol</a>
        <div class="dropdown">
          <button class="btn btn-dark dropdown-toggle me-3" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="FbServis.OturumKontrol()"  >
            Hoşgeldin {{adsoyad}}
          </button>
          <ul class="dropdown-menu bg-dark" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="admin" style="color:white" *ngIf="FbServis.OturumKontrol() && adsoyad=='admin'" >Admin Menü</a></li>
            <li><a class="dropdown-item" href="hesapbilgilerim" style="color:white">Hesap Bilgilerim</a></li>
            <li><a class="dropdown-item" href="" (click)="OturumKapat()" style="background-color:red; color:white" >Oturumu Kapat</a></li>
          </ul>
        </div>
        
        <!--<a class="fw-bold btn btn-dark me-3" *ngIf="FbServis.OturumKontrol()" (click)="OturumKapat()" href="" type="button">Oturumu Kapat</a>-->
        
        

      </div>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Ara" aria-label="Search">
          <button class="btn btn-warning" type="submit">Ara</button>
        </form>
      </div>
    </div>
  </nav>


<router-outlet></router-outlet>



<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="text-muted">© 2021 Company, Inc. All rights reserved.</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="https://www.instagram.com/utkuuslucan/" target="_blank"><img src="assets/instagram.png" class="bi" width="24" height="24"></a></li>
      <li class="ms-3"><a class="text-muted" href="https://twitter.com/iutkuuslucan" target="_blank"><img src="assets/twitter.png" class="bi" width="24" height="24"></a></li>
      <li class="ms-3"><a class="text-muted" href="https://www.linkedin.com/in/ibrahimutkuuslucan/" target="_blank"><img src="assets/linkedin.png" class="bi" width="24" height="24"></a></li>
    </ul>
  </footer>
</div>