<div class="container">
  <div class="row">
    <div class="col-md-2">

    </div>
    
    <div class="col-md-8">
      <ul class="nav nav-tabs text-light shadow-lg p-3 mb-5 bg-body rounded">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="hakkimizda">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="iletisim">İletişim</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="yayinilkeleri">Yayın İlkeleri</a>
        </li>
      </ul>
    </div>

    <div class="col-md-2">

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2">

    </div>

    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
          <strong><h4>İlkelerimiz</h4></strong><br><br>
<strong>Tarafsız Habercilik: </strong><br>
Sitemizde yayınlanan haberlere konu olan olaylara veya haberlerde adı geçen kişilere tam bir tarafsızlık içinde yaklaşmaktayız. Biz haberi okura ulaştıran "aracı" olarak, hiç bir haberin anlamını değiştirmemeyi ve hiç bir haberi manipüle etmemeyi ilke edinmiş bulunuyoruz. <br><br>
<strong>Mimiksiz Habercilik: </strong><br>
Okurlarımıza sunduğumuz haberlerin içeriğinin "iyi haber / kötü haber", "müjdeli haber / kara haber" olması ile ilgilenmiyoruz. Haberi sunarken, okura "şimdi sevinmelisin" veya "şimdi üzülmesin" havası ile sunmuyor; yalnızca gerçeği, yalnızca olanları, aktarıyoruz. Bir haberin okurda ne tür duygular uyandıracağı okurun karar vereceği bir konudur. <br><br>
<strong>Açıklık: </strong><br>
Herhangi bir gerçeğin ve herhangi bir olayın kenara itilmemesi, bilinçli veya bilinçsiz bir şekilde minik puntolarla bir kenara atılarak gözden saklanmaması gerektiğini savunuyoruz. Her ne olduysa ve her ne olay haber niteliği taşıyorsa bizim konumuzdur ve okurun bunu bilmeye öğrenmeye hakkı vardır. Hiç bir haberi saklamayacağız, küçültmeyeceğiz, gözden kaçırmayacağız. <br><br>
<strong>Hüküm Veren Değil, Postacı Habercilik: </strong><br>
Bizler, haberi aktaran kişiler olarak görevimizin; okurları yönlendirmek veya habere konu olay ile ilgili girişimlerde bulunmak olmadığını düşünüyoruz. Daha açık bir ifade ile, ne Türkiye'yi yöneten herhangi bir kişi veya kurumu etkilemeyi, ne de halkı haberin gücünü kullanarak yönlendirmeyi düşünmüyoruz. Bizler postacıyız. Görevimiz postayı alıcısına zamanında ulaştırmaktır. Bunun dışında "halkı aydınlatmak", "halka yol göstermek", "hükumeti yola getirmek", "toplumu düzeltmek" gibi görevlerimiz yoktur.


        </div>
      </div>
    </div>

    <div class="col-md-2">
      
    </div>
  </div>
</div>